@import "animations.scss";

// Styling for the download section
section.examples {
    position: relative;
    padding: 150px 0;
    h2 {
        font-size: 50px;
        margin-top: 0;
    }
    .badges {
        padding: 20px 0;
        position: relative;

        img {
            max-width: 200px;
            border-radius: 5px;
            margin-left: 20px;
        }

        i {
            font-size: 80px;
            animation: pulse 2s infinite;
            color: $theme-secondary;
            opacity: 0.7;
            position: absolute;
            top: 120px;
            right: 320px;
        }

        a {
            color: $gray-lighter;
            background: $theme-secondary;
        }

        a:hover {
            color: $gray-darker;
            border: 1px solid $gray-darker;
            background: transparent;
        }

        .badge-link {
            display: block;
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                height: 60px;
            }
            @media(min-width: 768px) {
                display: inline-block;
                margin-bottom: 0;
            }
        }

        @media(max-width: 768px) {
            img {
                margin-bottom: 20px;
            }

            i {
                top: 290px;
                right: 110px;
            }
        }
    }
    @media(min-width: 768px) {
        h2 {
            font-size: 70px;
        }
    }
}
